#useDynLib(esHelp, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
#importFrom(Rcpp, evalCpp)
export('%+%')
export(boolQ)
export(elsticT)
export(elsticM)
export(elsticQ)
export(elsticA)
export(elsticS)
export(funs_list)
export(type_list)
importFrom(purrr,walk)
importFrom(purrr,walk2)
import(rlang)