#useDynLib(esHelp, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
#importFrom(Rcpp, evalCpp)
export('%+%')
export(bool_q)
export(elastic_t)
export(elastic_m)
export(elastic_q)
export(elastic_a)
export(elastic_s)
export(elastic_p)
export(funs_list)
export(type_list)
importFrom(purrr,walk)
importFrom(purrr,walk2)
importFrom(purrr,splice)
importFrom(purrr,flatten)
importFrom(rlang, '!!')
importFrom(rlang, '!!!')
importFrom(rlang, abort)
importFrom(rlang, enexpr)
importFrom(rlang, eval_tidy)
importFrom(rlang, list2)
importFrom(rlang, sym)
importFrom(rlang, env_bind)
importFrom(rlang, new_environment)
importFrom(rlang, ensym)
importFrom(rlang, ensyms)
importFrom(ralng, dots_values)

