#useDynLib(esHelp, .registration=TRUE)
#exportPattern("^[[:alpha:]]+")
#importFrom(Rcpp, evalCpp)
export('%+%')
export(bool_q)
export(elastic_t)
export(elastic_m)
export(elastic_q)
export(elastic_a)
export(elastic_s)
export(funs_list)
export(type_list)
importFrom(purrr,walk)
importFrom(purrr,walk2)
importFrom(purrr,splice)
import(rlang)